---
interface Props {
  text: string;
}
const { text } = Astro.props;
---
<span class="cursor-help border-b border-dotted border-[--color-text-muted]/30 relative group inline-block">
  <slot />
  <span class="absolute bottom-full left-1/2 -translate-x-1/2 mb-2 px-3 py-1.5 rounded-lg bg-[--color-bg-tooltip] text-xs text-[--color-text] border border-[--color-border] opacity-0 group-hover:opacity-100 transition-opacity pointer-events-none whitespace-nowrap z-50" role="tooltip">
    {text}
  </span>
</span>
